.catalogue_section {
  margin: auto;
  width: 1284px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.catalogue_container {
  width: 1150px;
  position: relative;
  box-sizing: border-box;
  margin-top: 65px;
}
.catalogue_inner {
  display: grid;
  row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.catalogue_box {
  box-sizing: border-box;
  cursor: pointer;
}

.catalogueImage {
  width: 369px;
  height: 440px;
}
.info {
  width: 369px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info span {
  color: #595757;
  font-size: 15px;
  padding: 10px;
}
.sliderCloseBtn {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 86px;
  cursor: pointer;
  color: #3e3a39;
}

.sliderCloseBtn-hidden {
  display: none;
}

.background {
  background-color: #f6f6f6;
  width: 100%;
  height: 730px;
  position: absolute;
}

.background-hidden {
  display: none;
}

.sliderArea1,
.sliderArea2,
.sliderArea3,
.sliderArea4,
.sliderArea5,
.sliderArea6 {
  visibility: visible;
  opacity: 1;
  display: block;
  height: 743px;
  width: 1284px;
  margin: auto;
  position: relative;
  margin-bottom: -15px;
}

.sliderArea-hidden {
  height: 0.1px;
  padding: 0;
  opacity: 0;
  margin: 0;
  display: block;
}

.image_container {
  margin-top: 85px;
  margin-bottom: 155px;
  text-align: center;
}
.mobile_image_info {
  display: none;
}
.mobile_title {
  display: none;
}

/*페이징처리*/
.pageArea {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
}
.page-item {
  margin: 0 15px;
}
.page-item a {
  color: #3e3a39;
}
.page-item a:active {
  color: #898989;
}
