/************************* diart 반응형 *****************************************/

@media only screen and (max-width: 767px) {
  .diary_section {
    width: 100%;
    display: block;
  }
  .diary_container {
    width: 100%;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .diary_inner {
    display: grid;
    row-gap: 30px;
    column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .mobile_title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 18px;
    margin-bottom: 18px;
  }
  .topMenu {
    height: auto;
    margin-left: 18px;
    margin-bottom: 25px;
  }
  .year span {
    margin-right: 10px;
    font-size: 13px;
    cursor: pointer;
  }
  .searchArea {
    display: none;
  }
  .diaryImage {
    width: 100%;
    height: auto;
  }

  .info {
    display: block;
    padding-top: 12px;
    width: 180px;
    height: auto;
    background-color: transparent;
    justify-content: space-between;
  }

  .info span {
    display: block;
    color: #595757;
    font-size: 12px;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .image_container {
    margin-top: 0px;
    text-align: center;
  }
  .pageArea {
    display: none;
  }
  .sliderArea1,
  .sliderArea2,
  .sliderArea3,
  .sliderArea4,
  .sliderArea5,
  .sliderArea6 {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sliderArea-hidden {
    height: 0.1px;
    padding: 0;
    opacity: 0;
    margin: 0;
    display: block;
    position: absolute;
  }
  .image_container {
    margin: 0;
  }
  .sliderCloseBtn {
    display: none;
  }
  .mobile_image_info {
    display: flex;
    position: absolute;
    bottom: 24px;
    right: 0;
    left: 0;
    justify-content: center;
    font-size: 13px;
  }
  .imageYear,
  .imageName {
    display: none;
  }
  .background {
    display: none;
  }
}
